{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "import/no-unresolved": ["off"],
    "import/prefer-default-export": ["off"],
    "indent": ["warn", 2],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "max-len": ["warn"],
    "no-multiple-empty-lines": ["warn"],
    "no-trailing-spaces": ["warn"],
    "no-underscore-dangle": ["off"],
    "no-unused-vars": ["warn"],
    "react/forbid-prop-types": ["warn"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/label-has-for": ["off"],
    "jsx-a11y/label-has-associated-control": ["off"]
  }
}
