/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #48bb78;
  --ifm-color-primary-dark: #2F855A;
  --ifm-color-primary-darker: #276749;
  --ifm-color-primary-darkest: #22543D;
  --ifm-color-primary-light: #9AE6B4;
  --ifm-color-primary-lighter: #C6F6D5;
  --ifm-color-primary-lightest: #F0FFF4;

  --ifm-container-width: 60rem;

  --color-warning: #F6E05E;
  --color-warning-dark: #744210;
}

@import 'tailwind.min.css';

* {
  border-width: 0;
  border-style: solid;
}

.callout {
  padding: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
}

.callout.is-warning {
  background: var(--color-warning);
  color: var(--color-warning-dark);
}

.callout.callout.is-warning::before {
  content: '⚠️';
  margin-right: 0.4rem;
  text-shadow: 0 0 1rem white;
}