{
  "extends": ["plugin:codeceptjs/recommended", "react-app", "../.eslintrc"],
  "rules": {
    "import/extensions": "off",
    "react/prop-types": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
