@tailwind components;
@tailwind utilities;

* {
  border-width: 0;
  border-style: solid;
}

/* Button */
.demo-button {
  transition: 0.2s;
  @apply inline-block text-sm font-bold py-3 px-4 bg-transparent rounded appearance-none border-solid border-gray-300;

  &:hover,
  &:focus {
    @apply bg-gray-300;
  }

  &:focus {
    @apply outline-none shadow-outline;
  }

  &:disabled {
    @apply opacity-25 pointer-events-none;
  }

  &.is-full {
    @apply block w-full;
  }

  &.is-small {
    @apply py-2 px-3;
  }

  &.is-primary {
    @apply bg-blue-500 text-white border-none;

    &:hover,
    &:focus {
      @apply bg-blue-600;
    }
  }

  &.is-secondary {
    @apply bg-blue-100 text-blue-600 border-none;

    &:hover,
    &:focus {
      @apply bg-blue-600 text-white;
    }
  }
}

/* Label */
.demo-label {
  @apply block font-bold text-sm text-gray-600 mb-1;
}

/* Input */
.demo-input {
  @apply text-base bg-white border border-gray-300 rounded py-1 px-2 block w-full appearance-none leading-normal;

  &:focus {
    @apply outline-none shadow-outline;
  }

  .is-error & {
    @apply border-red-600;
  }
}

/* Form feedback */
.demo-form-feedback {
  @apply block text-sm text-gray-600 mt-1;

  .is-error & {
    @apply text-red-600;
  }
}

/* Form Group */
.demo-form-group {
  @apply mb-4;
}

/* Form */
.demo-form {
  @apply flex flex-col bg-white border border-gray-200 rounded-lg shadow-lg overflow-hidden;

  &__tabs {
    min-height: 3.6rem;
    @apply flex px-4 border-b border-gray-200;
  }

  &__tab {
    @apply cursor-pointer bg-transparent border-b-2 border-transparent text-gray-500 text-base font-bold py-4 px-5 outline-none;

    &.is-active {
      @apply border-blue-500 text-blue-500;
    }
  }

  &__content {
    @apply p-4 mb-4;
  }

  &__footer {
    @apply flex flex-wrap items-center p-4 bg-gray-100 mt-auto;
  }
}