:root {
  --nextra-md-header-light: #ffffff;
  --nextra-md-content-light: #011627;
  --nextra-md-header-dark: #2c4028;
  --nextra-md-content-dark: #1f291d;
  --code-editor-border-radius: 0.8rem;
  --code-editor-border-color-light: #E4E4E7;
  --code-editor-border-color-dark: #27272A;
}

/* Global container */
.code-editor__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: var(--code-editor-border-radius);
  border: 1px solid var(--code-editor-border-color-light);
  overflow: hidden;
  margin-block: 1rem;
}

html[class~="dark"] .code-editor__container {
  border-color: var(--code-editor-border-color-dark);
}

/* Display container */
.code-editor__container__runner-container {
  display: flex;
  flex: 1;
  padding: 1rem;
  border-radius: var(--code-editor-border-radius) var(--code-editor-border-radius) 0 0;
  color: #333333;
  background-color: var(--nextra-md-header-light);
}

html[class~="dark"] .code-editor__container__runner-container {
  color: white;
  background-color: transparent;
}

/* Tabs */
.tabs {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: var(--nextra-md-content-light);
  gap: 0.1rem;
}

html[class~="dark"] .tabs {
  background-color: var(--nextra-md-content-dark);
}

.tabs__item {
  border-top-left-radius: var(--code-editor-border-radius);
  border-top-right-radius: var(--code-editor-border-radius);
  padding-inline: var(--code-editor-border-radius);
  padding-block: 0.3rem;
  cursor: pointer;
  color: white;
}

html[class~="dark"] .tabs__item {
  color: #333333;
}

html[class~="dark"] .tabs__item {
  color: white;
}

.tabs__item--active {
  border-bottom: 2px solid white
}

html[class~="dark"] .tabs__item--active {
  border-bottom: 2px solid hsl(113, 35%, 34%);
}

/* Editor */
.code-editor__container__mirror-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: var(--code-editor-border-radius);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.code-editor__container__runner-container__runner {
  height: 25rem;
  display: block;
}

.cm-gutter {
  background-color: var(--nextra-md-content-light);
}

html[class~="dark"] .cm-gutter {
  background-color: var(--nextra-md-content-dark);
}

.cm-content {
  background-color: var(--nextra-md-content-light);
  color: #FFFFFF;
}

.ͼo .cm-content ::selection {
  background-color: #1f291d40;
}

html[class~="dark"] .ͼo .cm-content ::selection {
  background-color: #f6fcf440;
}

html[class~="dark"] .cm-content {
  color: #888888;
  background-color: var(--nextra-md-content-dark);
}

.ͼo .cm-activeLine {
  background-color: var(--nextra-md-header-dark);
}

html[class~="dark"] .ͼo .cm-activeLine {
  background-color: var(--nextra-md-header-dark);
}

.ͼ18.cm-editor:not(.cm-focused) .cm-activeLine {
  background-color: none;
}

/* Editor theme */
.ͼt {
  color: #ffffff;
}

html[class~="dark"] .ͼt {
  color: #cfd3d8;
}

.ͼp {
  color: #F286C4;
}

html[class~="dark"] .ͼp {
  color: #BF9EEE;
}

.ͼ13 {
  color: #E7EE98;
}

html[class~="dark"] .ͼ13 {
  color: #94bd75;
}

.ͼu {
  color: #97E1F1;
}

html[class~="dark"] .ͼu {
  color: #dab776;
}

.ͼr {
  color: #62E884;
}

html[class~="dark"] .ͼr {
  color: #61adeb;
}

.ͼq {
  color: #62E884;
}

html[class~="dark"] .ͼq {
  color: #d4686f;
}

.ͼv {
  color: #ffee00;
}

html[class~="dark"] .ͼv {
  color: #53b1bc;
}
